.title-bar {
  background-color: #1b1c1d;
  border-color: #1b1c1d;

  width: 100%;
  height: 4rem;
  margin: 0;

  display: flex;
  position: absolute;
  z-index: 1;
}

.title-bar-content {
  width: 90%;
  max-width: 780px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar a {
  margin-left: 1.6rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 2.5rem;
}

.logo-mark {
  margin-right: 5px;
}

.logo-text {
  font-size: 1.125rem;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo-cursor {
  background-color: #be0048;
  border-radius: 1px;
  animation: cursor 1.3s infinite;

  height: 1.125rem;
  width: 10px;

  margin-left: 0.5rem;
  vertical-align: bottom;
}
