<div class="footer {{ 'fixed' if fixed }}">
    <a href="https://www.linkedin.com/in/joshua-geden/" target="_blank" rel="noopener_noreferrer">
        <img class="logo" id="linkedin_logo" src="{{ url_for('static', filename='images/linkedin_logo.png') }}" alt="linkedin logo">
    </a>

    <a href="https://www.github.com/Josh0823" target="_blank" rel="noopener_noreferrer">
        <img class="logo" id="github_logo" src="{{ url_for('static', filename='images/github_logo.png') }}" alt="github logo">
    </a>

    <p class="email">Contact me at: <a href="mailto:joshua.geden@duke.edu">joshua.geden@duke.edu</a></p>
</div>

<style scoped>
    .footer {
        width: 100vw;
        background-color: rgb(189, 189, 189);
        bottom: 0;
        left: 0;
        height: 38px;
        padding-bottom: 5px;
    }
    .email {
        position: relative;
        text-align: center;
        bottom: 32px;
    }
    .logo {
        width: 2.8vh;
        height: 2.8vh;
        top: 1.0vh;
        position: relative;
        z-index: 1;
    }
    #linkedin_logo {
        left: 1.0vw;
    }
    #github_logo {
        left: 1.3vw;
    }

    @media only screen and (min-width: 800px) {
        .fixed {
            position: fixed;
        }
    }

    @media only screen and (max-width: 450px) {
        .footer {
            font-size: 14px;
        }
        .logo {
            top: 1.1vh
        }
    }

    @media only screen and (max-width: 350px) {
        .email {
            font-size: 11px;
        }
    }
</style>
