<head>
    <title>Skills | Josh Geden</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="pagecontainer">
        {% include 'navbar.html' %}

        <div class="skills">
            <div class="container">
                <div class="content">
                    <ul class="skill-categories">
                        <li>Technical Skills</li>
                        <li>Soft Skills</li>
                        <li>Interpersonal Skills</li>
                    </ul>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
</body>

<style scoped>
    .skills {
        margin: auto;
        padding-bottom: 40px;
    }
    .skills .container {
        margin: 20px;
    }
    .skills .container .content {
        color: white;
    }
</style>
