<head>
    <title>Skills | Josh Geden</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

{% include 'navbar.html' %}

<div class="skills">
    <div class="container">
        <div class="content">
            <p>Coming soon...</p>
        </div>
    </div>
</div>

{% with fixed=True %}
    {% include 'footer.html' %}
{% endwith %}

<style scoped>
    .skills {
        margin: auto;
        height: 75.5vh;
        margin-bottom: 20px;
    }
    .skills .container {
        margin: 20px;
    }
    .skills .container .content {
        color: white;
    }
</style>
